</div>
{{#if loggedIn}}
{{#each blogs as |blog|}}
<h2>{{blog.title}}</h2>
<p>Posted by {{user.username}} on {{format_date blog.createdAt}}</p>
<p>{{blog.description}}</p>
{{/each}}

<a>ADD A BLOG ENTRY</a>
{{else}}
<a href="/login">Log in to view your blog posts...or sign up!</a>
{{/if}}
</div>