{{!-- HTML for the single blog view --}}
<div>
    <h3>Selected Blog Post</h3>
</div>
<div>
    <div class="card blogcard m-4">
        <h5 class="card-title card-header bg-primary text-white">{{singleBlog.title}}</h5>
        <div class="card-body bg-primary-subtle">
            <h6 class="card-subtitle mb-2 text-body-secondary">Posted by {{singleBlog.user.username}} on {{format_date singleBlog.createdAt}}</h6>
            <p class="card-text">{{singleBlog.description}}</p>
        </div>
    </div>
</div>

{{!-- Renders the comments from the comments.handlebars file --}}
<div>
    {{> comments}}
</div>

{{#if loggedIn}}
<div class="ms-5">
    <form class="addCommentForm formwidth">
        <input type="hidden" id="blogID" value="{{singleBlog.id}}">
        <label for="comment-box" class="form-label">Comment</label>
        <div>
            <textarea id="comment-box" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-secondary mt-2">Add comment</button>
    </form>
</div>
{{else}}
<a href="/login" class="text-primary ms-5">Log in to add comments.  Click here to log in...or sign up!</a>
{{/if}}

<script src="/js/addcontent.js"></script>